.caja1 {
    position: fixed;
    background-color: blue;
    height: 100px;
    
}

.caja2{
    background-color: gold;
    position: absolute;
    z-index: -1;
    left: 50px;
    top: 80px;
    height: 1000px;
}

p{
    width: 100px;
    height: 100px;
}